/* Global STYLES */


* {
    box-sizing: border-box;
}

@font-face{
    font-family: "Helvetica condensed bold";
    src: url("./helvetica-neue-lt-std-87-heavy-condensed-593e4667bc1e5.otf");
}




/* HEADING */
heading > h1 {
    text-align: center;
}





/* MAIN CONTENT */



/*Puzzle Board */

.puzzle .letterRow {
    text-align: center;
}

.puzzle .letterbox {
    border: solid black;
    height: 75px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: -2px;
    margin-top: 2px;
    background-color: #4caf50;
}

.puzzle .letterbox > p {
    font-family: "Helvetica condensed bold";
    font-size: 48px;
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.puzzle .unsolved {
    background-color: white;
}

@keyframes revealLetter {

    0% { background-color: blue;
    color: blue}
    25% { background-color: blue;
    color: blue}
    25.01% { background-color: white;
    color: white;
    opacity: 1}
    100% {opacity: 1}
}

.revealed {
    animation-name: revealLetter;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode:forwards;
}

/* Category */

#category {
    text-align: center;
    font-family: "Gotham";
}





/*    FOOTER  */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}