/* Global STYLES */


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

html {
   min-height: 100%;
   overflow: hidden;

}

body {
    background-image: url("../images/stars.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 0;

}


@font-face{
    font-family: "Helvetica condensed bold";
    src: url("../fonts/helvetica-neue-lt-std-87-heavy-condensed-593e4667bc1e5.otf");
}


/* HEADING */
heading > h1 {
    text-align: center;
    color: white;
}


/* MAIN CONTENT */



/*Puzzle Board */


.puzzle {
    -webkit-clip-path: polygon(3% 15%, 10% 15%, 10% 0, 90% 1%, 90% 14%, 97% 14%, 97% 83%, 90% 83%, 90% 100%, 10% 100%, 10% 85%, 3% 85%);
    clip-path: polygon(6% 22%, 12% 22%, 12% 0, 88% 0%, 88% 21%, 94% 21%, 94% 80%, 88% 80%, 88% 105%, 12% 100%, 12% 79%, 6% 79%);
    background-color: black;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    animation-name: gameboardCycle;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;

}


.puzzle .letterRow {
    text-align: center;
    height: 25%;
}

.puzzle .letterbox {
    border: solid 5px black;
  /*  height: 75px;
    width: 50px;*/
    height: 98%;
    width: 6%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: -3px;
    margin-top: 1px;
    background-color: #4caf50;
}

.puzzle .letterbox > p {
    font-family: "Helvetica condensed bold";
    font-size: 60px;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 5px
}

.puzzle .puzzlePiece {
    background-color: white;
}

@keyframes gameboardCycle {
    0%{ background-color: aqua;}
    50%{background-color: blueviolet}
    75%{background-color: aqua}
    100%{background-color: blueviolet}

    }

@keyframes revealLetter {

    0% { background-color: blue;
    color: blue}
    40% { background-color: blue;
    color: blue}
    40.01% { background-color: white;
    color: black;
    opacity: 1}
    100% {opacity: 1}
}

.revealed {
    animation-name: revealLetter;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode:forwards;
}

/* Category */

#category {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(86, 2, 152, 0.42);
    color: white;
    font-size: 32px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
    text-transform: uppercase;
    min-width: 900px;

}
